@{
    ViewBag.Title = Localizer["Templates"].Value;
    Layout = "_Manager_Layout";
}

<style>
	/*.container-flex > .flex:not(:first-child) {
		margin-left: 5px;
	}*/
		.container-vertical-flex > .flex:not(:first-child) {
			margin-top: 5px;
		}

</style>
<div class="container-flex">
	<div class="flex flex-1">
		<div id="panel-table" class="panel panel-default panel-flex">
			<div class="panel-heading">
				<div class="hr-divider">
					<ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
						<li class="active"><a data-toggle="tab" href="#home">@Localizer["Templates"]</a></li>
						<li><a data-toggle="tab" href="#TimeBandBaseScheduleTemplate-panel">@Localizer["For TimeBands"]</a></li>
						<li><a data-toggle="tab" href="#template-item-panel">@Localizer["Template Items"] </a></li>
						<li><a data-toggle="tab" href="#template-item-asset-type-panel">@Localizer["Template Item Asset Type"]</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content container-vertical-flex">
					<div id="home" class="tab-pane in active fade flex">
						<div class="container-vertical-flex">
							<div class="flex flex-0">
								<button class="btn btn-sm btn-primary-outline create template pull-right"> <span class="icon icon-plus"></span> @Localizer["Add"]   </button>
							</div>
							<div class="flex flex-1">
								<div id="grid-template"></div>
							</div>
						</div>
					</div>
					<div id="TimeBandBaseScheduleTemplate-panel" class="tab-pane fade flex">

					</div>

					<div id="template-item-panel" class="tab-pane fade flex">

					</div>
					<div id="template-item-asset-type-panel" class="tab-pane fade flex">

					</div>
				</div>
			</div>

		</div>
			</div>
		</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script id="edit-template" type="text/x-kendo-template">
    <div class="btn-group">
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete template"><span class="icon icon-action-delete"></span> </button>
		<button data-id="#: id #" class="btn btn-warning-outline btn-sm edit template"><span class="icon icon-action-edit"></span> </button>
    </div>
</script>

<script>
	require(['module/template'], function (template) {
		template.init({
        	url: {
        		controller: "Template",
                getAll: "GetAll",
        	},
        	DOMclass: {
        		entity: '.template',
        	},
        	DOMid: {
        		grid: "grid-template"
        	},
        	model: {
        		id: 'Id',
        		fields: {
        			name: { field: 'Name', type: "text" },
        		},
        	},
            columns: [
				{ field: "name", title: "@Localizer["Name"]" },
			//	{ field: "description", title: "@Localizer["Description"]" },
				{
					field: "",
					title: "@Localizer["Edit"]",
					template: kendo.template($("#edit-template").html()),
					width: "120px",
				}

            ],
            function: {
            	onChange: function (arg) {
            		//debugger;
            		var grid = arg.sender;
            		var selected = grid.dataItem(this.select());
            		$("#template-item-panel").load("Manager/TemplateItem" + "/Index/" + selected.id); 
            		$("#TimeBandBaseScheduleTemplate-panel").load("Manager/TimeBandBaseScheduleTemplate" + "/Index/" + selected.id);
            	 }
            }
        });
    });

</script>