@model TimeBandSliceViewModel
@{
	Layout = null;
}
<style>
	/*.container-flex > .flex:not(:first-child) {
		margin-left: 5px;
	}
		.container-vertical-flex > .flex:not(:first-child) {
			margin-top: 5px;
		}*/

</style>
<div class="container-flex">
	<div class="flex flex-1">
		<div id="panel-table" class="panel panel-default panel-flex">
			<div class="panel-heading">
				<div class="hr-divider">
					<ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
						<li class="active"><a data-toggle="tab" href="#timebandsliceDetail">@Localizer["Detail"]</a></li>
						<li><a data-toggle="tab" href="#timebandsliceDescription-panel">@Localizer["Description"]</a></li>
						<li><a data-toggle="tab" href="#timebandslice-duration">@Localizer["Maximun duration"]</a></li>
						<li><a data-toggle="tab" href="#timebandsliceDurationByType">@Localizer["Max duration by booking type"]</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content container-vertical-flex">
					<div id="timebandsliceDetail" class="tab-pane in active fade flex">
						<div class="panel panel-flex panel-default">
							<div class="panel-body">
								@Html.Partial("_DetailPartial", Model)
							</div>
						</div>
					</div>

					<div id="timebandsliceDescription-panel" class="tab-pane fade flex">

					</div>
					<div id="timebandslice-duration" class="tab-pane fade flex">

					</div>
					<div id="timebandsliceDurationByType" class="tab-pane fade flex">

					</div>
				</div>
			</div>

		</div>
			</div>
		</div>
<script>
	require(["jquery", "kendo.all.min"], function () {

		$("#timebandslice-duration").load("Manager/TimeBandSliceDuration/" + "Index/" + "@Model.Id");

		$("#timebandsliceDescription-panel").load("Manager/TimeBandSliceDescription/" + "Index/" + "@Model.Id");

	});

</script>