@model StatCardViewModel
	<div class="col-sm-3">
		<div class="statcard statcard-primary p-a-md">
			<h3 class="statcard-number">
				@Model.StatCards["Booking"].Count
				<small class="delta-indicator delta-@Model.StatCards["Booking"].DeltaClass">@Model.StatCards["Booking"].Change %</small>
			</h3>
			<span class="statcard-desc">@Localizer["Booking"]</span>

		</div>
	</div>
	<div class="col-sm-3">
		<div class="statcard statcard-success p-a-md">
			<h3 class="statcard-number">
				@Model.StatCards["Asset"].Count
				<small class="delta-indicator delta-@Model.StatCards["Asset"].DeltaClass">@Model.StatCards["Asset"].Change %</small>
			</h3>
			<span class="statcard-desc">@Localizer["Asset"]</span>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="statcard statcard-warning p-a-md">
			<h3 class="statcard-number">
				@Model.StatCards["Duration"].Count
				<small class="delta-indicator delta-@Model.StatCards["Duration"].DeltaClass">@Model.StatCards["Duration"].Change %</small>
			</h3>
			<span class="statcard-desc">@Localizer["Duration"]</span>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="statcard statcard-info p-a-md">
			<h3 class="statcard-number">
				@Model.StatCards["Value"].Count.ToString("N0")
				<small class="delta-indicator delta-@Model.StatCards["Value"].DeltaClass">@Model.StatCards["Value"].Change %</small>
			</h3>
			<span class="statcard-desc">@Localizer["Income"]</span>
		</div>
	</div>