@model CreateSpotBookingIndexViewModel
@{
	ViewBag.Title = Localizer["Create Booking Out Sponsor Progranm"].Value;
	//	Layout = "_Manager_Layout";
}
@{
	var isEditMode = Model.AnnexContractId.HasValue;
	var opacity = "1";
	if (!isEditMode)
	{
		opacity = "0.3";
	}

	var random = new Random();
	var code = random.Next(10000, 99999);
}
<style>

</style>
<div class="container-vertical-flex">
	<div class="flex flex-2">
		<div class="panel panel-default" style="padding-top: 3px">
			@if (isEditMode)
			{
				@Html.Partial("_EditBookingOutAnnexContractPartial", Model.AnnexContract)
			}
			else
			{
				@Html.Partial("_CreateBookingOutAnnexContractPartial", new AnnexContractViewModel()
		   {
			   ReceiveDate = DateTime.Today,
			   SignDate = DateTime.Today,
			//   Code = code.ToString(),

		   })
			}
		</div>
	</div>
	<div class="flex flex-3" style="opacity: @opacity">
		<div class="panel panel-default">
			@if (isEditMode)
			{
				@Html.Partial("_AnnexContractAssetPartial", new AnnexContractAssetViewModel()
		   {
			   AnnexContractId = Model.AnnexContractId.Value,
			   BookingTypeId = (int)Model.AnnexContract.BookingTypeId,
		   })
			}
			else
			{
				@Html.Partial("_AnnexContractAssetPartial", new AnnexContractAssetViewModel()
		   {
			   AnnexContractId = Guid.Empty,
			   BookingTypeId = (int)BookingTypeEnum.Contract_Booking,
		   })

			}
		</div>
	</div>
	<div class="flex flex-5" style="opacity: @opacity">
		<div class="container-vertical-flex">
			<div class="flex flex-1">
				<div class="panel panel-default">
					@if (isEditMode)
					{
						@Html.Partial("_SpotBookingPartial", new SpotBookingCreateIndexViewModel()
				   {
					   AnnexContractId = Model.AnnexContractId.Value,
					   BookingType = BookingTypeEnum.Contract_Booking,
				   })
					}
					else
					{
						@Html.Partial("_SpotBookingPartial", new SpotBookingCreateIndexViewModel()
				   {
					   AnnexContractId = Guid.Empty,
					   BookingType = BookingTypeEnum.Contract_Booking,
				   })

					}
				</div>
			</div>
			<div class="flex flex-0">
				<div style="height: 24px">
					<div class="panel panel-default">
						<form class="form-inline">
							<div class="form-group">
								<label>@Localizer["Contract value"]</label>
								<input id="ContractValue" class="form-control" />
							</div>
							<div class="form-group">
								<label>@Localizer["Discount value"]</label>
								<input id="DiscountValue" class="form-control" />
							</div>
							<div class="form-group">
								<label>@Localizer["Position cost"]</label>
								<input id="PositionCost" class="form-control" />
							</div>
							<div class="form-group">
								<label>@Localizer["Total"]</label>
								<input id="TotalValue" class="form-control" />
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>