@{
	Layout = null;
}
@functions{
	async Task<bool> CheckPermissionAsync(UserPermissions permission)
	{
		return await AuthorizationService.AuthorizeAsync(User, null, new PermissionRequirement(permission));
	}
}

<div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
	<form class="sidebar-form">
		<input class="form-control" type="text" placeholder="@Localizer["Search..."]">
		<button type="submit" class="btn-link">
			<span class="icon icon-search"></span>
		</button>
	</form>
	<ul class="nav nav-pills nav-stacked">
		<li class="nav-header">@Localizer["More"]</li>

		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_Customer)">
			<a asp-area="Manager" asp-controller="Customer" asp-action="Index">@Localizer["Customer"]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_SponsorProgram)">
			<a asp-area="Manager" asp-controller="SponsorProgram" asp-action="Index">@Localizer["Sponsor Program"]</a>
		</li>

		<li class="nav-header">@Localizer["Annex Contract"]</li>

		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_NormalBooking)">
			<a asp-area="AnnexContract" asp-controller="NormalBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Booking.GetDisplayName())]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_BookingIn)">
			<a asp-area="AnnexContract" asp-controller="BookingIn" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_InProgram.GetDisplayName())]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_BookingOut)">
			<a asp-area="AnnexContract" asp-controller="BookingOut" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_OutProgram.GetDisplayName())]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData)">
			<a asp-area="AnnexContract" asp-controller="TrailerBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_Trailer.GetDisplayName())]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData)">
			<a asp-area="AnnexContract" asp-controller="BenefitBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_Benefit.GetDisplayName())]</a>
		</li>
		<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_SpotBookingRetail)">
			<a asp-area="Manager" asp-controller="RetailContract" asp-action="Index">@Localizer[(BookingTypeEnum.Retail.GetDisplayName())]</a>
		</li>

	</ul>
	<hr class="visible-xs m-t">
</div>

<script>

	require(['jquery'], function () {
		var path = location.pathname;
		var controller = path.split('/')[2];
		$("ul.nav.nav-pills.nav-stacked>li>a").each(function (i, v) {
			var href = $(v).attr("href");
			if (href.includes(controller)) {
				$(v).closest('li').addClass("active");
			}
		});

	});
</script>