@using HD.TVAD.Web.Views.Shared.Components
@using HD.TVAD.Web.Models
@model DashboardIndexViewModel

@functions{
	async Task<bool> CheckPermissionAsync(UserPermissions permission)
	{
		return await AuthorizationService.AuthorizeAsync(User, null, new PermissionRequirement(permission));
	}
}
@{
	ViewData["Title"] = Localizer["Dashboard"].Value;
	Layout = "_Dashboard_Layout";
}
@{
	var hasPermissionReport = await CheckPermissionAsync(UserPermissions.Report);
}
@if (hasPermissionReport)
{
	<div class="panel panel-flex panel-default">
		<div class="panel-heading">
			<div class="dashhead">
				<div class="dashhead-titles">
					<div class="dashhead-subtitle">@Localizer["Dashboard"]</div>
					<div class="dashhead-title">@Localizer["Overview"]</div>
				</div>
				<div class="dashhead-toolbar">
					<div class="dashhead-toolbar-item">@Localizer["From"]: &emsp; </div>
					<div class="input-with-icon dashhead-toolbar-item">
						<input asp-for="TimePeriod.FromDate" class="form-control" type="date" />
						<span class="icon icon-calendar"></span>
					</div>
					<span class="dashhead-toolbar-divider"></span>
					<div class="dashhead-toolbar-item">@Localizer["To"]: &emsp; </div>
					<div class="input-with-icon dashhead-toolbar-item">
						<input asp-for="TimePeriod.ToDate" class="form-control" type="date" />
						<span class="icon icon-calendar"></span>
					</div>
					<span class="dashhead-toolbar-divider"></span>
					<div class="btn-group dashhead-toolbar-item btn-group-fourths">
						<button id="day-btn" data-type="@((int)TimePeriodType.Day)" class="btn btn-primary-outline time-period-btn active">@Localizer["Day"]</button>
						<button id="week-btn" data-type="@((int)TimePeriodType.Week)" class="btn btn-primary-outline time-period-btn">@Localizer["Week"]</button>
						<button id="month-btn" data-type="@((int)TimePeriodType.Month)" class="btn btn-primary-outline time-period-btn">@Localizer["Month"]</button>
						<button id="year-btn" data-type="@((int)TimePeriodType.Year)" class="btn btn-primary-outline time-period-btn">@Localizer["Year"]</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="container-vertical-flex">
				<div class="flex flex-0" id="stat-card-panel">
					@*@await Component.InvokeAsync("StatCard", new Parameter()
						{
							IsMonthOrFromDaySelect = Period.Month,
							IsMonthOrThreeMount = true,
							Month = DateTime.Today.Month,
							Year = DateTime.Today.Year,
						})*@
				</div>
				<div class="flex flex-1">
					<div class="container-flex">
						<div class="flex flex-2" id="chart-panel">
						</div>
						<div class="flex flex-1">
							<div class="panel panel-flex panel-default">
								<div class="panel-heading">
									@Localizer["Notifications"]
								</div>
								<div class="panel-body">
									<div class="container-fluid">
										<div class="container-vertical-flex">
											<div class="flex flex-0">
												@Localizer["Some notifications"]
											</div>
											<div class="flex flex-1">
												<ul class="list-group">
													<li class="list-group-header">List group header</li>
													<li class="list-group-item">Cras justo odio</li>
													<li class="list-group-item">Dapibus ac facilisis in</li>
													<li class="list-group-item">Morbi leo risus</li>
													<li class="list-group-item">Porta ac consectetur ac</li>
													<li class="list-group-item">Vestibulum at eros</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	require(["jquery"], function () {

		var model = {
			periodType: @((int)Model.TimePeriod.Type),
		}

		$("button.time-period-btn").on('click', function () {
			$('.time-period-btn').removeClass('active');
			$(this).addClass('active');
			var data = {
				Type: this.dataset.type,
				ToDate: $("#TimePeriod_ToDate").val(),
				FromDate: $("#TimePeriod_FromDate").val(),
			};

			LoadStatPanel(data);
			LoadChartPanel(data);
		});

		function LoadStatPanel(_data) {
			var data = $.extend({ Type: 0 }, _data);
			$.ajax({
				url: '/Dashboard/StatCard/Index',
				data: data,
				success: function (response) {
					$("#stat-card-panel").html(response)
							.hide()
							.fadeIn();
				}
			});
		}
		function LoadChartPanel(_data) {
			var data = $.extend({ Type: 0 }, _data);
			$.ajax({
				url: '/Dashboard/Chart/Index',
				data: data,
				success: function (response) {
					$("#chart-panel").html(response)
							.hide()
							.fadeIn();
				}
			});
		}
		var data = {
			Type: model.periodType,
			ToDate: $("#TimePeriod_ToDate").val(),
			FromDate: $("#TimePeriod_FromDate").val(),
		}
		LoadStatPanel(data); //init
		LoadChartPanel(data);//init
	});
	</script>

}
else
{
	<div class="panel panel-flex panel-default">
		<div class="panel-heading">
			<div class="dashhead">
				<div class="dashhead-titles">
					<div class="dashhead-subtitle">@Localizer["Dashboard"]</div>
					<div class="dashhead-title">@Localizer["Overview"]</div>
				</div>
				<div class="dashhead-toolbar">
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="container-vertical-flex">
				<div class="flex flex-0" id="stat-card-panel">
				</div>
				<div class="flex flex-1">
					<div class="container-flex">
						<div class="flex flex-2" id="chart-panel">
							<div class="h1 text-center">Chương trình quản lý TVAd</div>
							@Html.Partial("_Notification")
						</div>
						<div class="flex flex-1">
							<div class="panel panel-flex panel-default">
								<div class="panel-heading">
									@Localizer["Notifications"]
								</div>
								<div class="panel-body">
									<div class="container-fluid">
										<div class="container-vertical-flex">
											<div class="flex flex-0">
												@Localizer["Some notifications"]
											</div>
											<div class="flex flex-1">
												<ul class="list-group">
													<li class="list-group-header">List group header</li>
													<li class="list-group-item">Cras justo odio</li>
													<li class="list-group-item">Dapibus ac facilisis in</li>
													<li class="list-group-item">Morbi leo risus</li>
													<li class="list-group-item">Porta ac consectetur ac</li>
													<li class="list-group-item">Vestibulum at eros</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}

