@{
	ViewBag.Title = Localizer["Rate spot block"].Value;
	Layout = "_Manager_Layout";
}
<div class="panel panel-flex panel-default">
    <div class="panel-heading">
        <div class="dashhead">
            <div class="dashhead-titles">
                <div class="dashhead-title">
                    <h2>  @Localizer["Rate spot block"]</h2>
                </div>
            </div>
            <div class="dashhead-toolbar btn-toolbar">
                <button id="btn-create" class="btn btn-primary-outline create"> <span class="icon icon-plus"></span> @Localizer["Create"] </button>
            </div>
        </div>
		<div class="flextable table-actions">
			<div class="flextable-item flextable-primary">
				<div class="btn-toolbar-item input-with-icon" style="width: 70%; max-width: 600px;">
					<span class="icon icon-search"></span>
					<input type="search" id="filterText" class="form-control input-block " placeholder="@Localizer["Search..."]">
				</div>
				<div class="btn-toolbar-item input-with-icon">
					<button id="clearFilter" class="btn btn-primary-outline"><span class="icon icon-erase"></span></button>
				</div>
			</div>
			<div class="flextable-item">
				<div class="checkbox custom-control custom-checkbox">
					<label>
						<input id="filterDisabled" type="checkbox" class="form-control">
						<span class="custom-control-indicator"></span>
						@Localizer["Include Disabled"]
					</label>
				</div>
			</div>
		</div>
    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>


<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script id="edit-template" type="text/x-kendo-template">
	<div class="btn-group">
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete">@Localizer["delete"]</button>
		<button data-id="#: id #" class="btn btn-warning-outline btn-sm edit"> @Localizer["edit"]</button>
	</div>
</script>

<script>
    require(['module/spot-block-rate'], function (module) {
    	module.init({
            url: {
            	getAll: "GetAll",
            	controller: "RateSpotBlock",
            },
            DOMid: {
                grid: 'grid',
            },
            model: {
            	id: 'Id',
            	fields: {
            		name: { field: "Name", type: "text" },
            		spotBlockDuration: { field: "SpotBlockDuration", type: "number" },
            		rate: { field: "Rate", type: "number" },
            		typeName: { field: "TypeName", type: "text" },
            	},
            },
            columns: [
				{ field: 'name' , title: "@Localizer["Name"]"},
				{ field: 'spotBlockDuration', title: "@Localizer["Duration"]" },
				{ field: 'rate', title: "@Localizer["Rate"]" },
				{ field: 'typeName', title: "@Localizer["Type"]" },
				{
					field: "",
					title: "@Localizer["edit"]",
					template: kendo.template($("#edit-template").html()),
					width: "160px",
				}
            ],
        });
    });
</script>