@using HD.TVAD.Web.Services
@{
	Layout = null;
}
@model AssetTypeCreateViewModel

@inject IContentTypeViewService _contentTypeViewService
@{
	var fileTypeSelectItems = await _contentTypeViewService.GetFileTypeSelectListItemAsync();
}
<form id="create-form" asp-area="MAM" asp-controller="ContentType" asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Add Content Type"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Name">@Localizer["Name"]:</label>
			</div>
			<div class="col-md-8">
				<input asp-for="Name" class="form-control" type="text" autofocus />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Description">@Localizer["Description"]:</label>
			</div>
			<div class="col-md-8">
				<textarea class="form-control" type="text" asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="IsBroadcast">@Localizer["Is Broadcast"]:</label>
			</div>
			<div class="col-md-8">
				<input asp-for="IsBroadcast" class="form-control" type="checkbox" />
				<span asp-validation-for="IsBroadcast" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="IsIndexing">@Localizer["Is Indexing"]:</label>
			</div>
			<div class="col-md-8">
				<input asp-for="IsIndexing" class="form-control" type="checkbox" />
				<span asp-validation-for="IsIndexing" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Index">@Localizer["Index"]:</label>
			</div>
			<div class="col-md-8">
				<input class="form-control" type="number" asp-for="Index"/>
				<span asp-validation-for="Index" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="FileTypeId">@Localizer["File Type"]:</label>
			</div>
			<div class="col-md-8">
				<select class="form-control" asp-for="FileTypeId" asp-items="fileTypeSelectItems">
					<option value="">@Localizer["Choose..."]</option>
				</select>
				<span asp-validation-for="FileTypeId" class="text-danger"></span>
			</div>
		</div>

		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary"><span class="icon icon-action-create"></span> @Localizer["Create"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"]</button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'create-form',
        });
    });

</script>



