@using HD.TVAD.ApplicationCore.Entities.Booking

@inject ICustomerViewService _customerViewService
@inject IAnnexContractViewService _annexContractViewService
@inject IGetTypeService _getTypeService
@{
	var customerSelectItems = await _customerViewService.GetCustomerCodeAndNameListItemAsync();
	var customerTypeSelectItems = await _customerViewService.GetCustomerTypeSelectListItemAsync();
	var codeListItems = await _annexContractViewService.GetCodeListAsync(BookingTypeEnum.Contract_Booking);
}

@model AnnexContractViewModel

<form id="edit-contract-form" data-bind="submit: onCreateFormSubmit" asp-area="Manager" asp-controller="AnnexContract" asp-action="EditAnnexContractAPI" method="post" enctype="multipart/form-data" class="form-horizontal">

	<input type="hidden" asp-for="BookingTypeId" value="@((int)BookingTypeEnum.Contract_Booking)" />
	@*<input type="hidden" asp-for="AnnexContractTypeId" value="" />*@
	<input type="hidden" asp-for="Id"/>
	<div class="col-md-9">
		<div class="form-group">
			<div class="col-md-2 control-label">
				<label asp-for="CustomerId"></label>
			</div>
			<div class="col-md-10">
				<select asp-for="CustomerId" class="form-control" type="text" asp-items="customerSelectItems"></select>
			</div>
		</div>

	</div>
	<div class="col-md-3">
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="SignDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="SignDate" class="form-control" type="date" />
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<div class="col-md-6 control-label">
				<label asp-for="Code"></label>
			</div>
			<div class="col-md-6">
				<input asp-for="Code" class="form-control" type="text" data-bind="value: code, event: { keyup: onCodeKeyUp}" list="codeItems" />
				<datalist id="codeItems">
					<select name="codeItems"></select>
				</datalist>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<div class="col-md-5 control-label">
				<label asp-for="ScheduleCampaign"></label>
			</div>
			<div class="col-md-7">
				<input asp-for="ScheduleCampaign" class="form-control" type="text" />
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Content"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Content" class="form-control" type="text" />
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="ReceiveDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="ReceiveDate" class="form-control" type="date" />
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="checkbox-inline custom-checkbox custom-control">
			<label>
				<input type="checkbox" />
				<span class="custom-control-indicator"></span>
				@Localizer["Not to list"]
			</label>
		</div>
		<div class="checkbox-inline custom-checkbox custom-control">
			<label>
				<input type="checkbox" checked />
				<span class="custom-control-indicator"></span>
				@Localizer["Print with position"]
			</label>
		</div>
		<div class="checkbox-inline custom-checkbox custom-control">
			<label>
				<input type="checkbox" />
				<span class="custom-control-indicator"></span>
				@Localizer["Not print *"]
			</label>
		</div>
		@*<div class="checkbox-inline custom-checkbox custom-control">
				<label>
					<input type="checkbox" />
					<span class="custom-control-indicator"></span>
					@Localizer["Print current date"]
				</label>
			</div>*@
	</div>
	<div class="col-md-8">
		<button type="button" class="btn btn-primary-outline" data-bind="click: onCreateBtnClick"><span class="icon icon-plus"></span> @Localizer["Create new contract"]</button>
		<button type="button" class="btn btn-warning-outline" data-bind="click: onSaveBtnClick"><span class="icon icon-action-save"></span> @Localizer["Save change"]</button>
		<button type="button" class="btn btn-danger-outline" data-bind="click: onDeleteBtnClick"><span class="icon icon-action-delete"></span> @Localizer["Delete contract"]</button>
		<button type="button" class="btn btn-success-outline" data-bind="click: onManageBtnClick"><span class="icon icon-action-detail"></span> @Localizer["Manage contract"]</button>
		<button type="button" class="btn btn-primary-outline" data-bind="click: onImportBtnClick"><span class="icon icon-action-save"></span> @Localizer["Import from excel"]</button>
	</div>
</form>

<script>
	require(["jquery", "knockout", 'module/manager'], function ($, ko, manager) {
		var localizer = {
			delete: "@Localizer["Delete"]",
			edit: "@Localizer["Edit"]",
		inputNotValid: "@Localizer["Input not valid"]",
		};
		var model = {
			bookingType: @((int)Model.BookingTypeId),
			code: "@Model.Code",
		};
		var viewModel = {
			code: ko.observable(model.code),
			onCodeKeyUp: function(d, e){
				console.log("onCodeKeyUp");
				var _this = this;
				if (e.keyCode == 13) {
					_this.network.findByCode(_this.code());
					return false; // ignore default event
				}
				return false;
			},
			onCreateBtnClick: function () {
				console.log("onCreateBtnClick");
				var _this = this;
				//	$("#create-contract-form").submit();
				//	location.replace("/Manager/Booking/CreateSpotBooking");
				_this.network.createAnnexContract();
			},
			onSaveBtnClick: function () {
				console.log("onSaveBtnClick");
				if (confirm(localizer.edit)) {
					$("#edit-contract-form").submit();
				}
			},
			onDeleteBtnClick: function () {
				console.log("onDeleteBtnClick");
				var _this = this;
				if (confirm(localizer.delete))
				{
					_this.network.deleteAnnexContract();
				}

			},
			onManageBtnClick: function () {
				console.log("onManageBtnClick");
				var urlPath = location.origin + "/AnnexContract/NormalBooking";
				window.location = urlPath;

			},
			onImportBtnClick: function () {
				console.log("onImportBtnClick");

			},
			onCreateFormSubmit: function (d, e) {
				var _this = this;
				console.log("onCreateFormSubmit");
				_this.network.editAnnexContract();
			},
			network: {
				editAnnexContract: function () {
					var form = $("#edit-contract-form");
					console.log(form.serialize());
					if(form.valid())
					{
						$.ajax({
							url: form.attr('action'),
							method: form.attr('method'),
							data: form.serialize(),
							success: function (response) {
								console.log(response);
								if (typeof response == 'object') {
									if (response.Succeeded) {
										notification.show(response.Message);
										$("#edit-contract-form").animate({ opacity: 0.1 }, 0).animate({ opacity: 1 }, 200);
									}
									else {
										alert(response.Message);
									}
								}
								else {
									alert(response);
								}
							},
							error: function () {

							}
						});

					}
					else
						alert(localizer.inputNotValid);
				},
				createAnnexContract: function () {
					var form = $("#edit-contract-form");
					var createUrl = "Manager/AnnexContract/CreateAPIFromEditForm";
					if(form.valid())
					{
						$.ajax({
							url: createUrl,
							method: form.attr('method'),
							data: form.serialize(),
							success: function (response) {
								console.log(response);
								if (typeof response == 'object') {
									if (response.Succeeded) {
										notification.show(response.Message);
										var urlPath = location.origin + '/Manager/Booking/CreateSpotBooking/' + response.Id;
										//	window.history.pushState({}, "", urlPath);
										//	location.reload();
										window.location = urlPath;

									}
									else {
										alert(response.Message);
									}
								}
								else {
									alert(response);
								}
							},
							error: function () {

							}
						});
					}
					else
						alert(localizer.inputNotValid);
				},
				deleteAnnexContract: function () {
					var form = $("#edit-contract-form");
					var deleteUrl = "Manager/AnnexContract/DeleteAPI";
					console.log(form.serialize());
					$.ajax({
						url: deleteUrl,
						method: form.attr('method'),
						data: form.serialize(),
						success: function (response) {
							console.log(response);
							if (typeof response == 'object') {
								if (response.Succeeded) {
									notification.show(response.Message);
									var urlPath = location.origin + '/Manager/Booking/CreateSpotBooking';
									//	window.history.pushState({}, "", urlPath);
									//	location.reload();
									window.location = urlPath;

								}
								else {
									alert(response.Message);
								}
							}
							else {
								alert(response);
							}
						},
						error: function () {

						}
					});
				},
				findByCode: function (code) {
					var url = "Manager/AnnexContract/FindByCodeAPI"
					$.ajax({
						url: url,
						method: 'GET',
						data: {code: code, bookingType: model.bookingType},
						success: function (response) {
							console.log(response);
							if (typeof response == 'object') {
								if (response.Succeeded) {
									notification.show(response.Message);
									var urlPath = location.origin + '/Manager/Booking/CreateSpotBooking/' + response.Id;

									window.location = urlPath;

								}
								else {
									alert(response.Message);
								}
							}
							else {
								alert(response);
							}
						},
						error: function () {

						}
					});
				}
			}
		}
		ko.applyBindings(viewModel, $("#edit-contract-form")[0]);
	});
</script>