@{
    ViewBag.Title = Localizer["Retail Price"].Value;
    Layout = "_Manager_Layout";
}
<div class="panel panel-flex panel-default">
    <div class="panel-heading">
        <div class="dashhead">
            <div class="dashhead-titles">
                <div class="dashhead-title">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="dashhead-toolbar btn-toolbar">
                <button id="btn-create" class="btn btn-primary-outline create"> <span class="icon icon-plus"></span> @Localizer["Create"] </button>
            </div>
        </div>
		<div class="flextable table-actions">
			<div class="flextable-item flextable-primary">
				<div class="btn-toolbar-item input-with-icon" style="width: 70%; max-width: 600px;">
					<span class="icon icon-search"></span>
					<input type="search" id="filterText" data-bind="value: filterText, event: {keyup: onFilterTextKeyUp,blur: onFilterTextBlur}" class="form-control input-block " placeholder="@Localizer["Search..."]">
				</div>
				<div class="btn-toolbar-item input-with-icon">
					<button id="clearFilter" data-bind="click: onClearFilterClick" class="btn btn-primary-outline"><span class="icon icon-erase"></span></button>
				</div>
			</div>
			<div class="flextable-item">
				<div class="checkbox custom-control custom-checkbox">
					<label>
						<input id="filterDisabled" type="checkbox" class="form-control">
						<span class="custom-control-indicator"></span>
						@Localizer["Include Disabled"]
					</label>
				</div>
			</div>
		</div>
    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>


<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script id="edit-template" type="text/x-kendo-template">
	<div class="btn-group">
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete"><span class="icon icon-action-delete"></span> @Localizer["Delete"]</button>
		<button data-id="#: id #" class="btn btn-warning-outline btn-sm edit"><span class="icon icon-action-edit"></span> @Localizer["Edit"]</button>
	</div>
</script>

<script>
    require(['module/retail-price'], function (module) {
    	module.init({
            url: {
            	getAll: "GetAll",
            	controller: 'RetailPrice',
            },
            model: {
            	id: 'Id',
            	fields: {
            		startDate: { field: "StartDate", type: "date" },
            		price: { field: "Price", type: "number" },
            		typeDetailName: { field: "TypeDetailName", type: "text" },
            		retailTypeDescription: { field: "RetailTypeDescription", type: "text" },
            	},
            },
            DOMid: {
                grid: 'grid',
                editTemplate: 'edit-template'
            },
    		columns: [
				{ field: 'typeDetailName' , title: "@Localizer["Type"]"},
				{ field: 'retailTypeDescription', title: "@Localizer["Description"]" },
				{
					field: 'startDate', title: "@Localizer["Start Date"]",
					template: function (dataItem) {
						return kendo.template($("#date-template").html())({ date: dataItem.startDate });
					}
				},
				{
					field: 'price', title: "@Localizer["Price"]",
					template: function (dataItem) {
						return kendo.template($("#money-template").html())({ value: dataItem.price });
					},
				},
				{
					template: kendo.template($("#edit-template").html())
				}
    		],
    		filter:	function (filterText) {
    		var grid = $("#grid").data("kendoGrid");
    		var dataSource = grid.dataSource;
    		dataSource.filter({
    			logic: "or",
    			filters: [
    			{ field: "typeDetailName", operator: "contains", value: filterText },
    			{ field: "retailTypeDescription", operator: "contains", value: filterText }
    			]
    		});
    	}
    	});
    });

</script>