@using HD.TVAD.ApplicationCore.Entities.Booking
@{
	ViewBag.Title = $"{Localizer["Annex Contract"].Value} {Model.Code}";
}
@model SpotBookingContractIndexViewModel

@{
	var iconBookingType = "";
	switch (Model.BookingTypeId)
	{
		case BookingTypeEnum.Contract_Booking:
			iconBookingType = "<span class='label label-default'>No</span>";
			break;
		case BookingTypeEnum.Contract_Sponsor_InProgram:
			iconBookingType = "<span class='label label-info'>In&ensp;</span>";
			break;
		case BookingTypeEnum.Contract_Sponsor_OutProgram:
			iconBookingType = "<span class='label label-primary'>Out</span>";
			break;
		case BookingTypeEnum.Contract_Sponsor_Trailer:
			iconBookingType = "<span class='label label-warning'>Tr&ensp;</span>";
			break;
		case BookingTypeEnum.Contract_Sponsor_Benefit:
			iconBookingType = "<span class='label label-danger'>Be&ensp;</span>";
			break;
		case BookingTypeEnum.Retail:
			iconBookingType = "<span class='label label-success'>Re&ensp;</span>";
			break;
		default:
			break;
	}
	var newModel = new SpotBookingContractIndexViewModel()
	{
		AnnexContractId = Model.AnnexContractId,
		AnnexContractTypeName = Model.AnnexContractTypeName,
		BookingTypeId = Model.BookingTypeId,
		BookingTypeName = Model.BookingTypeName,
		Code = Model.Code,
		Content = Model.Content,
		ContractId = Model.ContractId,
		CustomerId = Model.CustomerId,
		CustomerName = Model.CustomerName,
		IconBookingType = iconBookingType,
		Id = Model.Id,
		ReceiveDate = Model.ReceiveDate,
		ScheduleCampaign = Model.ScheduleCampaign,
		SignDate = Model.SignDate,
		SponsorProgramId = Model.SponsorProgramId,
		SponsorProgramName = Model.SponsorProgramName,
		SponsorTypeId = Model.SponsorTypeId,
		SponsorTypeName = Model.SponsorTypeName,
	};
}
<div class="container-vertical-flex">
	<div class="flex flex-2">
		<div class="container-flex">
			<div class="flex flex-3">
				<div class="panel panel-flex panel-default">
					<div class="panel-heading">
						<div class="dashhead">
							<div class="dashhead-titles">
								<div class="dashhead-title">
									<h4>@Localizer["Contract detail"]</h4>
								</div>
							</div>
							<div class="dashhead-toolbar btn-toolbar">
								<button type="button" class="btn btn-sm btn-primary-outline" data-dismiss="modal" onclick="goBack()"><span class="icon icon-back"></span> @Localizer["Back"]</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						@switch (Model.BookingTypeId)
						{
							case BookingTypeEnum.Retail:
								@Html.Partial("_RetailContractPartial", newModel)
								break;
							case BookingTypeEnum.Contract_Sponsor_InProgram:
								@Html.Partial("_SponsorContractPartial", newModel)
								break;
							case BookingTypeEnum.Contract_Sponsor_OutProgram:
								@Html.Partial("_SponsorContractPartial", newModel)
								break;
							case BookingTypeEnum.Contract_Sponsor_Trailer:
								@Html.Partial("_SponsorContractPartial", newModel)
								break;
							case BookingTypeEnum.Contract_Sponsor_Benefit:
								@Html.Partial("_SponsorContractPartial", newModel)
								break;
							default:
								@Html.Partial("_AnnexContractPartial", newModel)
								break;
						}
						</div>


					</div>


				</div>


				<div class="flex flex-2" id="div-annexDetail">
			</div>
		</div>
	</div>
	<div class="flex flex-3">
		<div class="container-flex" id="div-spotBooking">
			<div class="panel panel-flex">
				<div class="panel-body">
					<h1>@Localizer["No Booking, please select asset for booking!"] </h1>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	require(["jquery"], function () {
		$("#div-spotBooking").load("Manager/SpotBooking" + "/IndexBooking/" + "@Model.AnnexContractId");
	});

</script>