
@model TimeBandSliceDurationIndexViewModel
@{
	Layout = null;
}
<div class="container-vertical-flex">
	<div class="flex flex-0">
		<span class="h4">@Localizer["TimeBand"]: @Model.TimeBandName > @Localizer["Slice"]: @Model.TimeBandSliceName</span>
		<button class="btn btn-sm btn-primary-outline create timeBandSliceDuration pull-right"> <span class="glyphicon glyphicon-plus"></span> @Localizer["Add"] </button>
	</div>
	<div class="flex flex-1">
		<div id="grid-timeBandSliceDuration"></div>
	</div>
</div>
<script id="timeBandSliceDuration-edit-template" type="text/x-kendo-template">
	<div class="btn-group">
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete timeBandSliceDuration"><span class="icon icon-action-delete"></span></button>
		<button data-id="#: id #" class="btn btn-warning-outline btn-sm edit timeBandSliceDuration"><span class="icon icon-action-edit"></span></button>
	</div>
</script>

<script>
	require(['module/timeband-slice-duration'], function (module) {

		function onGirdTimeBandSlideDurationChange(arg) {
			var grid = arg.sender;
			var selected = grid.dataItem(this.select());
			$("#timebandsliceDurationByType").load("Manager/TimeBandSliceDurationByType/" + "Index/" + selected.id);
		};

		module.init({
			url: {
				controller: "TimeBandSliceDuration",
				getAll: "GetAllTimeBandSliceDurationByTimeBandSliceId",
				id: "@Model.TimeBandSliceId",
			},
			DOMid: {
				grid: 'grid-timeBandSliceDuration',
			},
			DOMclass: {
				entity: ".timeBandSliceDuration",
			},
			data: {
				timeBandSliceId: "@Model.TimeBandSliceId"
			},
			model: {
				id: 'Id',
				fields: {
					startDate: { field: "StartDate", type: "date" },
					endDate: { field: "EndDate", type: "date" },
					duration: { field: "Duration", type: "number" },
				},
			},
			columns: [
				{
					field: 'startDate', title: "@Localizer["Start Date"]",
					template: function (dataItem) {
						return kendo.template($("#date-template").html())({ date: dataItem.startDate });
					}
				},
				{
					field: 'endDate', title: "@Localizer["End Date"]",
				template: function (dataItem) {
					return kendo.template($("#date-template").html())({ date: dataItem.endDate });
				}
				},
				{ field: "duration", title: "@Localizer["Duration"]", },
				{
					field: "",
					title: "@Localizer["Edit"]",
					template: kendo.template($("#timeBandSliceDuration-edit-template").html()),
					width: "120px",
				}

			],
			function: {
				onChange: onGirdTimeBandSlideDurationChange,
				detailInit: detailInit
			}
		});
		function detailInit(e) {
			//debugger;
			$("<div/>").appendTo(e.detailCell).kendoGrid({
				dataSource: {
					transport: {
						read: {
							url: "Manager/TimeBandSliceDurationByType/GetAllTimeBandSliceDurationByTypeByTimeBandSliceDurationId",
								data: { timeBandSliceDurationId: e.data.id },
								dataType: "JSON",
								type: "GET",
						},
					},
					schema: {
						model: {
							id: 'id',
							fields: {
							}
						},
						data: "data",
						total: "total"
					},
				//	serverPaging: true,
				//	serverSorting: true,
				//	serverFiltering: true,
					pageSize: 10,
				//	filter: { field: "timeBandSliceDurationId", operator: "eq", value: e.data.id }
				},
				scrollable: false,
				sortable: true,
			//	pageable: true,
				columns: [
					{ field: "bookingTypeName" },
					{ field: "duration" },
				]
			});
		}
	});
</script>