@{ 
    ViewData["Title"] = Localizer["User group manager"].Value;
}

<div class="panel panel-flex">
    <div class="panel-heading">
        <h2 class="text-center">@Localizer["User group manager"]</h2>
    </div>
    <div class="panel-body">
        <div class="container-flex">
            <div class="flex flex-2">
                <div class="panel panel-default panel-flex">
                    <div class="panel-heading">
                        <h4 class="text-center">@Localizer["Groups"]</h4>
                    </div>
                    <div class="panel-body" style="min-height:300px;">
                        @Html.Partial("UserGroupPartial")
                    </div>
                </div>
            </div>
            <div class="flex flex-2">
                <div class="panel panel-default panel-flex">
                    <div class="panel-heading">
                        <h4 class="text-center">@Localizer["Permissions"]</h4>
                    </div>
                    <div class="panel-body" style="min-height:300px;">
                        @Html.Partial("PermissionPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>