@{
    ViewBag.Title = "Access Zone Management";
    Layout = "_Storage_Layout";
    var isDisableClass = "";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/asset.css" />
</head>
<div class="panel panel-flex panel-default">
    <div class="panel-heading">
        <div class="dashhead">
            <div class="dashhead-titles">
                <div class="dashhead-title">
                    <h2> @Localizer["Access Zone"]: </h2>
                </div>
            </div>
            <div class="dashhead-toolbar btn-toolbar">
                <button class="btn btn-primary-outline create"> <span class="icon icon-plus"></span> @Localizer["Create"]</button>
            </div>
        </div>
        <div class="flextable table-actions">
            <div class="flextable-item flextable-primary">
                <div class="btn-toolbar-item input-with-icon" style="width: 70%; max-width: 600px;">
                    <span class="icon icon-search"></span>
                    <input type="search" id="filterText" class="form-control input-block " placeholder="@Localizer["Search..."]">
                </div>
                <div class="btn-toolbar-item input-with-icon">
                    <button id="clearFilter" class="btn btn-primary-outline"><span class="icon icon-erase"></span></button>
                </div>
            </div>
            <div class="flextable-item">
                <div class="checkbox custom-control custom-checkbox">
                    <label>
                        <input id="filterDisabled" type="checkbox" class="form-control">
                        <span class="custom-control-indicator"></span>
                        @Localizer["Include Disabled"]
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script id="edit-template" type="text/x-kendo-template">
    <div class="btn-group">
        <button data-id="#: id #" class="btn btn-warning-outline btn-sm edit @isDisableClass"><span class="icon icon-action-edit"></span> @Localizer["Edit"]</button>
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete @isDisableClass"> <span class="icon icon-action-delete"></span> @Localizer["Delete"]</button>
    </div>
</script>

<script>
    require(['storages/accessZone'], function (channel) {
    	channel.init({
    		url: {
    			controller: "AccessZone",
                area: 'Tools',
                getAll: "GetAll",
                delete: "Delete",
                create: "Create",
                edit: "Edit"
            },            
    		columns: [
				{ field: "Name", title: "@Localizer["Name"]" },
				{ field: "Description", title: "@Localizer["Description"]" },
				{
					field: "",
					title: "Edit",
					template: kendo.template($("#edit-template").html()),
					width: "200px",
				}

    		]
    	});

    	$("input[type='search']").on("keypress", function (e) {
    		if (e.keyCode == 13) {
    			search(this.value);
    			return false; // ignore default event
    		}
    	});;

    	function search(filterText) {
    		var grid = $("#grid").data("kendoGrid");
    		var dataSource = grid.dataSource;
    		dataSource.filter({
    			logic: "or",
    			filters: [
    			{ field: "Name", operator: "contains", value: filterText },
    			{ field: "Description", operator: "contains", value: filterText }
    			]
    		});
    	}
	});

</script>
