@{
    Layout = null;
}
@model HD.TVAD.Web.Models.ChannelLockViewModel
@{
    var testStr = "";
    if (Model.LstTimeBandBaseNoLockId != null) {
        foreach (var temp in Model.LstTimeBandBaseNoLockId)
        {
            testStr += temp.ToString();
        }
    }
}
<div class="container-vertical-flex">
    <div class="flex flex-0">
        <div id="grid"></div>
    </div>
    <div class="flex flex-1">
        <div class="panel-body">
            <form class="form-horizontal">
                <input id="inpId" hidden />
                <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                        <label class="control-label"> @Localizer["Choose Channel"]: </label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" id="inpChooseChannel" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                        <label class="control-label"> @Localizer["Start Date"]: </label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" id="inpStartDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                        <label class="control-label"> @Localizer["End Date"]: </label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" id="inpEndDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                        <label class="control-label"> @Localizer["Except Timeband(s)"]: </label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <select id="selExceptTimeband"></select>
                    </div>
                </div>
            </form>
            <div class="text-center" style="margin-top: 10px">
                <div class="btn-group">
                    <button onclick="AddChannelLock()" type="button" class="btn btn-primary-outline"><span class="icon icon-plus"></span> @Localizer["Create"] </button>
                    <button onclick="UpdateChannelLock()" type="button" class="btn btn-primary-outline"><span class="icon icon-action-save"></span> @Localizer["Save"] </button>
                    <button onclick="DeleteChannelLock()" type="button" class="btn btn-primary-outline"><span class="icon icon-action-delete"></span> @Localizer["Delete"] </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/MAM/ChannelLock/GetAll",
                        data: { contentId:"@Model.ContentId" }
                    }
                },
                schema: {
                    id:"Id",
                    model: {
                        fields: {
                            ContentId:{ editable: false, nullable: false },
                            ChannelName: { type:"string"},
                            StartDate: { type: "date" },
                            EndDate: { type: "date" },
                            TimeBandBaseNoLockStr: { type:"string" }
                        }
                    },
                    data: function (response) {
                        return response.Data;
                    },
                    total: function (response) {
                        return response.Total;
                    }
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 350,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                field: "ChannelName",
                title: "@Localizer["Channel"]"
            },
            {
                field: "StartDate",
                title: "@Localizer["Start Date"]",
                format: "{0:dd/MM/yyyy}"
            },
            {
                field: "EndDate",
                title: "@Localizer["End Date"]",
                format: "{0:dd/MM/yyyy}"
            },
            {
                field: "TimeBandBaseNoLockStr",
                title: "@Localizer["Time Band Base No Lock"]"
            }
            ]
        });
    });
    $("#inpChooseChannel").kendoComboBox({
        dataTextField: "Name",
        dataValueField: "Id",
        placeholder: "@Localizer["Choose..."]",
        dataSource: {
            transport: {
                read: {
                    type: "GET",
                    dataType: "json",
                    url: "/MAM/ChannelLock/GetAllChannel",
                }
            }
        }
    });
    $("#inpStartDate").kendoDatePicker({
        change: startChange
    });
    $("#inpEndDate").kendoDatePicker({
        change: endChange
    });
    function startChange(e) {
        var endPicker = $("#inpEndDate").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange(e) {
        var startPicker = $("#inpStartDate").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }
    $("#selExceptTimeband").kendoMultiSelect({
        placeholder: '@Localizer["Select Time Band(s)..."]',
        dataTextField: "Name",
        dataValueField: "Id",
        //autoBind: false,
        dataSource: {
            transport: {
                read: {
                    type: "GET",
                    dataType: "json",
                    url: "/MAM/TimeBandLock/GetAllTimeBand"
                }
            }
        }
    });
    function AddChannelLock() {
        var channel = $("#inpChooseChannel").val();
        //console.log(channel);
        if (channel === "" || channel === null) {
            alert("@Localizer["Channel is require when creating Channel Lock, please choose one!"]");
        } else {
            var startDate = $("#inpStartDate").data("kendoDatePicker").value();
            var endDate = $("#inpEndDate").data("kendoDatePicker").value();
            var multiSelectedValues = $("#selExceptTimeband").data("kendoMultiSelect").value();
            //console.log(multiSelectedValues);
            var vM = {
                ContentId: "@Model.ContentId",
                ChannelId: channel,
                StartDate: kendo.toString(kendo.parseDate(startDate), 'yyyy-MM-dd'),
                EndDate: kendo.toString(kendo.parseDate(endDate), 'yyyy-MM-dd'),
                LstTimeBandBaseNoLockId: multiSelectedValues
            };
            $.ajax(
                {
                    type: 'POST',
                    url: '/MAM/ChannelLock/Create',
                    dataType: 'json',
                    data: { viewModel: vM },
                    success: function (data) {
                        console.log(data);
                        if (data.result === "OK") {
                            alert("@Localizer["Create Sucessfully!"]");
                            $("#grid").data("kendoGrid").dataSource.read();
                        } else {
                            alert("@Localizer["Create fail! Please try again!"]")
                        }
                    }
                });
        }
    }
    function UpdateChannelLock() {
        var channel = $("#inpChooseChannel").val();
        //console.log(channel);
        if (channel === "" || channel === null) {
            alert("@Localizer["Channel is require when creating Channel Lock, please choose one!"]");
        } else {
            var startDate = $("#inpStartDate").data("kendoDatePicker").value();
            var endDate = $("#inpEndDate").data("kendoDatePicker").value();
            var multiSelectedValues = $("#selExceptTimeband").data("kendoMultiSelect").value();
            var vM = {
                Id: $("#inpId").val(),
                ContentId: "@Model.ContentId",
                ChannelId: channel,
                StartDate: kendo.toString(kendo.parseDate(startDate), 'yyyy-MM-dd'),
                EndDate: kendo.toString(kendo.parseDate(endDate), 'yyyy-MM-dd'),
                LstTimeBandBaseNoLockId: multiSelectedValues
            };
            $.ajax(
                {
                    type: 'POST',
                    url: '/MAM/ChannelLock/Edit',
                    dataType: 'json',
                    data: { viewModel: vM },
                    success: function (data) {
                        console.log(data);
                        if (data.result === "OK") {
                            alert("@Localizer["Update Sucessfully!"]");
                            $("#grid").data("kendoGrid").dataSource.read();
                        } else {
                            alert("@Localizer["Update fail! Please try again!"]")
                        }
                    }
                });
        }
    }
    function DeleteChannelLock() {
        var channel = $("#inpChooseChannel").val();
        //console.log(channel);
        if (confirm('@Localizer["Are you sure to delete this item?"]')){
            var startDate = $("#inpStartDate").data("kendoDatePicker").value();
            var endDate = $("#inpEndDate").data("kendoDatePicker").value();
            var vM = {
                Id: $("#inpId").val(),
                ContentId: "@Model.ContentId",
                ChannelId: channel,
                StartDate: kendo.toString(kendo.parseDate(startDate), 'yyyy-MM-dd'),
                EndDate: kendo.toString(kendo.parseDate(endDate), 'yyyy-MM-dd')
            };
            $.ajax(
                {
                    type: 'POST',
                    url: '/MAM/ChannelLock/Delete',
                    dataType: 'json',
                    data: { viewModel: vM },
                    success: function (data) {
                        console.log(data);
                        if (data.result === "OK") {
                            alert("@Localizer["Deleted!"]");
                            $("#grid").data("kendoGrid").dataSource.read();
                        } else {
                            alert("@Localizer["Delete fail! Please try again!"]")
                        }
                    }
                });
        }
    }
    $("#grid").on("mousedown", "tr[role='row']", function (e) {
        if (e.which === 1) {
            $("#grid tbody tr").removeClass("k-state-selected");
            $(this).toggleClass("k-state-selected");
            var gridData = $("#grid").data('kendoGrid');
            var selectedRowData = gridData.dataItem($(this).closest("tr"));
            console.log(selectedRowData);
            $("#inpChooseChannel").data("kendoComboBox").value(selectedRowData.ChannelId);
            $("#inpStartDate").data("kendoDatePicker").value(selectedRowData.StartDate);
            $("#inpEndDate").data("kendoDatePicker").value(selectedRowData.EndDate);
            $("#inpId").val(selectedRowData.Id);
            $("#selExceptTimeband").data("kendoMultiSelect").value(selectedRowData.LstTimeBandBaseNoLockId);
        }
    });
</script>