@{
    Layout = null;
    ViewBag.Title = "Edit Storage Location Access";
}
@model HD.TVAD.Web.Storage.Models.StorageLocationAccessViewModel
@inject IStorageLocationAccessTypeService _storageLocationAccessTypeService
@inject IStorageLocationService _storageLocationService
@{
    var _storageLocationAccessTypeItems = await _storageLocationAccessTypeService.GetAll()
        .Select(p => new SelectListItem()
        {
            Value = p.Id.ToString(),
            Text = p.Name,
        }).ToListAsync();
    var _storageLocationItems = await _storageLocationService.GetAll()
        .Select(p => new SelectListItem()
        {
            Value = p.Id.ToString(),
            Text = p.Name,
        }).ToListAsync();
}

<form id="edit-form" method="post" enctype="multipart/form-data" asp-area="Tools" asp-controller="StorageLocationAccess" asp-action="Edit" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@Localizer["Edit Storage Location Access"]</h4>
    </div>
    <div class="modal-body">

        <h3 class="text-center text-danger"> @ViewBag.Message</h3>

        <div class="form-group" hidden>
            <input asp-for="Id" class="form-control" value="@Model.Id" />
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Name">@Localizer["Name"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Description">@Localizer["Description"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="StorageLocationId">@Localizer["Storage Location"]:</label>
            </div>
            <div class="col-md-8">
                <select asp-for="StorageLocationId" class="form-control" asp-items="_storageLocationItems"></select>
                <span asp-validation-for="StorageLocationId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="StorageLocationAccessTypeId">@Localizer["Storage Location Access Type"]:</label>

            </div>
            <div class="col-md-8">
                <select asp-for="StorageLocationAccessTypeId" class="form-control" asp-items="_storageLocationAccessTypeItems"></select>
                <span asp-validation-for="StorageLocationAccessTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Identity">@Localizer["Identity"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Identity" />
                <span asp-validation-for="Identity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Path">@Localizer["Path"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Path" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Host">@Localizer["Host"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Host" />
                <span asp-validation-for="Host" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Password">@Localizer["Password"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Port">@Localizer["Port"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="number" asp-for="Port" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Readable">@Localizer["Readable"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="checkbox" asp-for="Readable" />
                <span asp-validation-for="Readable" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Writeable">@Localizer["Writeable"]:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="checkbox" asp-for="Writeable" />
                <span asp-validation-for="Writeable" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                <button id="submit" type="submit" value="Update" class="btn btn-primary"><span class="icon icon-action-edit"></span> @Localizer["Update"] </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"]</button>
            </div>
        </div>

    </div>
</form>
<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'edit-form',
        });
    });

</script>



