
@{
	ViewBag.Title = "Timeband Detail";
	Layout = null;
}
@model TimeBandViewModel
<style>
		/*.container-flex > .flex:not(:first-child) {
		margin-left: 5px;
	}
		.container-vertical-flex > .flex:not(:first-child) {
			margin-top: 5px;
		}*/

</style>
<div class="container-flex">
	<div class="flex flex-1">
		<div id="panel-table" class="panel panel-default panel-flex">
			<div class="panel-heading">
				<div class="hr-divider">
					<ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
						<li><a data-toggle="tab" href="#home">@Localizer["Detail"]</a></li>
						<li class="active"><a data-toggle="tab" href="#timebandslice">@Localizer["Slice"]</a></li>
						<li><a data-toggle="tab" href="#timeBandDescription-panel">@Localizer["Description"]</a></li>
						<li><a data-toggle="tab" href="#timeBandDay-panel">@Localizer["Day of weeks"]</a></li>
						<li><a data-toggle="tab" href="#timeBandTime-panel">@Localizer["Times"]</a></li>
					</ul>
				</div>
			</div>

			<div class="panel-body">
				<div class="tab-content container-vertical-flex">
					<div id="home" class="tab-pane fade flex">
						<div class="panel panel-flex panel-default">
							<div class="panel-body">
								@Html.Partial("_DetailPartial", Model)
							</div>
						</div>
					</div>
					<div id="timebandslice" class="tab-pane in active fade flex">

					</div>

					<div id="timeBandDescription-panel" class="tab-pane fade flex">

					</div>
					<div id="timeBandDay-panel" class="tab-pane fade flex">

					</div>
					<div id="timeBandTime-panel" class="tab-pane fade flex">

					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script id="edit-template" type="text/x-kendo-template">
	<div class="btn-group">
		<button data-id="#: id #" class="btn btn-success-outline btn-sm detail timeband"> @Localizer["Detail"]</button>
		<button data-id="#: id #" class="btn btn-danger-outline btn-sm delete timeband"> @Localizer["Delete"]</button>
		<button data-id="#: id #" class="btn btn-warning-outline btn-sm edit timeband"> @Localizer["Edit"]</button>
	</div>
</script>

<script id="startTime-template" type="text/x-kendo-template">
	#: kendo.toString(kendo.parseDate(startTime), "hh:mm tt")  #
</script>
<script id="endTime-template" type="text/x-kendo-template">
	#: kendo.toString(kendo.parseDate(endTime), "hh:mm tt")  #
</script>

<script>
	require(["jquery", "kendo.all.min"], function () {
		var timeBandId = "@Model.Id";
		$("#timeBandDescription-panel").load("Manager/TimeBandDescription/" + "Index/" + timeBandId);
		$("#timeBandDay-panel").load("Manager/TimeBandDay/" + "Index/" + timeBandId);
		$("#timeBandTime-panel").load("Manager/TimeBandTime/" + "Index/" + timeBandId);

		$("#timebandslice").load("Manager/TimeBandSlice/" + "Index/" + timeBandId);

		(function DisplayEndTime() {
			var startTime = new Date("01/01/1970 " + $("#StartTimeOfDay").val());
			var timeFrom0h = (startTime.getHours() * 60 * 60 + startTime.getUTCMinutes() * 60) * 1000;
			var timeLeftFrom24h = 24 * 60 * 60 * 1000 - timeFrom0h;
			var duration = parseInt($("#Duration").val());
			var dayOffset = Math.floor((duration * 1000 - timeLeftFrom24h) / (24 * 60 * 60 * 1000));
			if ((duration * 1000 - timeLeftFrom24h) > 0) {
				//	dayOffset = 1;
			}
			var endTimeMilisecond = startTime.getTime() + duration * 1000;
			var endTime = new Date(endTimeMilisecond);
			//	debugger;
			dayOffsetAddADay = dayOffset + 1; // nextday
			if (dayOffsetAddADay == 1) dayOffsetAddADay = " "; // clear 1 day
			var dayOffsetString = "";
			if (dayOffset >= 0)
				dayOffsetString = "@Localizer["Next "]" + dayOffsetAddADay + "@Localizer[" day"]";

			$("#EndTime").val(endTime.toTimeString().slice(0, 8));

		})();

	});

</script>