@model IEnumerable<HDAutomation.Models.PlayList>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SystemId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isupdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Playline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Islock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MasterPlaylistId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApproverId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeLast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Changed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cueline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isupdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Islock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterPlaylistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cueline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
