@model ChartViewModel
<div class="panel panel-flex panel-default">
	<div class="panel-heading">
		<div class="hr-divider">
			<ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
				<li class="active" role="presentation">
					<a href="#sales" role="tab" data-toggle="tab" aria-controls="sales" aria-expanded="true">@Localizer["Sales"]</a>
				</li>
				<li role="presentation" class="">
					<a href="#inventory" role="tab" data-toggle="tab" aria-controls="inventory" aria-expanded="false">@Localizer["Inventory"]</a>
				</li>
				<li role="presentation" class="">
					<a href="#profit" role="tab" data-toggle="tab" aria-controls="profit" aria-expanded="false">@Localizer["Profit"]</a>
				</li>
			</ul>
		</div>
		@*<div class="dashhead">
				<div class="hr-divider">
					<ul class="nav nav-pills hr-divider-content hr-divider-nav">
						<li class="active">
							<a href="#">@Localizer["Income chart"]</a>
						</li>
						<li>
							<a href="#">@Localizer["Booking chart"]</a>
						</li>
						<li>
							<a href="#"> @Localizer["Asset chart"]</a>
						</li>
					</ul>
				</div>
			</div>*@
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="sales">
				<div class="container-vertical-flex">
					<div class="flex flex-0">
						<div class="container-flex">
							<div class="flex flex-5">
								<canvas id="line-chart" width="600" height="200"></canvas>
							</div>
							<div class="flex flex-1">
								<div>
									<canvas id="pie-chart" width="200" height="200"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-0">
						<div>
							<canvas id="bar-chart" width="300" height="100"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="inventory">
			</div>

			<div role="tabpanel" class="tab-pane" id="profit">
			</div>
		</div>

		@*<div class="container-vertical-flex">
				<div class="flex flex-0">
					<div class="container-flex">
						<div class="flex flex-1">
							<canvas id="line-chart" width="600" height="200"></canvas>
						</div>
						<div class="flex flex-0">
							<div>
								<canvas id="pie-chart" width="200" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="flex flex-1">
					<div>
						<canvas id="bar-chart" width="600" height="200"></canvas>
					</div>
				</div>
			</div>*@
	</div>
</div>
<script>

	require(['jquery','chart'], function () {
		Chart.defaults.global.scaleLabel = "<%=parseInt(value).toLocaleString()%>";
		Chart.defaults.global.tooltipTemplate = "<%if (label){%><%=label%>: <%}%><%=value.toLocaleString()%>";
		var data = @Json.Serialize(Model.data["line"]);
		console.log(data);

		var option = {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true,  
						userCallback: function(value, index, values) {
							// Convert the number to a string and splite the string every 3 charaters from the end
							value = value.toString();
							value = value.split(/(?=(?:...)*$)/);

							// Convert the array to a string and format the output
							value = value.join('.');
							return value + "đ";
						}
					}
				}]
			},
			tooltips: {
				callbacks: {
					label: function(tooltipItem, data) {
						return Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
							return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
						}) + "đ";
					}
				}
			}
		}

		var line_chart = document.getElementById("line-chart").getContext('2d');
		var myChart = new Chart(line_chart, {
			type: 'line',
			data: data,
			options: option
		});

		var bar_chart = document.getElementById("bar-chart").getContext('2d');
		var myChart = new Chart(bar_chart, {
			type: 'bar',
			data: data,
			options: option
		});		
		var labelPieChart = [], backgroundColorPierChart = [], dataPieChart = [];
		data.datasets.forEach(function(v,i){
			labelPieChart.push(v.label);
			backgroundColorPierChart.push(v.backgroundColor);
			dataPieChart.push(v.data[6]); // last
		});

		var pie_chart = document.getElementById("pie-chart").getContext('2d');
		var myChart = new Chart(pie_chart, {
			type: 'pie',
			data: {
				labels: labelPieChart,
				datasets: [{
					backgroundColor: backgroundColorPierChart,
					data: dataPieChart
				}]
			}
		});
	});
</script>