@{
	ViewBag.Title = Localizer["Spot approval"].Value;
}
@{
		var today = DateTime.Now;
		var yesterday = today.AddDays(-1);
		var tomorrow = today.AddDays(1);
		var searchViewModel = new SpotSearchIndexViewModel()
		{
			FromDate = yesterday,
			ToDate = tomorrow,
			InDate = today,
			TimePeriodType = SpotSearchTimePeriod.OneDay
	};
}
<style>
	.checkbox, .radio {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.k-grouping-header {
		display: none;
	}
	.progress {
		height: 12px;
		margin-bottom: -4px;
	}

	.k-widget.k-tooltip {
		border: solid 1px;
		border-color: rgb(128, 128, 128);
	background-color: rgba(185, 156, 41, 0.90);
	opacity: 0.8;
	}

</style>
<div class="container-flex">
	<div class="flex flex-1">
		@Html.Partial("_SearchPanelPartial", searchViewModel)
	</div>
	<div class="flex flex-4">
		<div class="panel panel-flex panel-default">
			<div class="panel-heading">
				<h4>@Localizer["Schedule"]</h4>
			</div>
			<div class="panel-body">
				<div id="grid-spot"></div>
			</div>
		</div>
	</div>
</div>


<script id="approve-template" type="text/x-kendo-template">
	# if(approve == null){#
	<div class="label label-warning"><span class="icon icon-clock"></span></div>
	#}else{#
	#if(approve == true){#
	<div class="label label-success"><span class="icon icon-check"></span></div>
	#}else{#
	<div class="label label-danger"><span class="icon icon-block"></span></div>
	#}#
	#}#
</script>

<script id="approve-template" type="text/x-kendo-template">
	# if(approve == null){#
	<div class="label label-warning"><span class="icon icon-clock"></span></div>
	#}else{#
	#if(approve == true){#
	<div class="label label-success"><span class="icon icon-check"></span></div>
	#}else{#
	<div class="label label-danger"><span class="icon icon-block"></span></div>
	#}#
	#}#
</script>

<script id="slice-header-template" type="text/x-kendo-template">
		<span class="icon icon-clipboard"></span>
		<span> @Localizer["Slice"]:  #= value#</span>

		<span style="margin-left: 40px">
		</span>

	<div class="pull-right">
		<button class="btn btn-sm btn-primary-outline add-asset" data-items='#= items#' data-spotId="#= spotId#" title="@Localizer["Add asset"]"><span class="icon icon-action-upload"></span>  </button>
		<button class="btn btn-sm btn-primary-outline view-template" data-items='#= items#' data-timeBandId="#= timeBandId#" title="@Localizer["Template"]"><span class="icon icon-address"></span> </button>	
		<div class="progress #=spotId#" style="display:inline-block; width: 160px">
			<div class="progress-bar #=progressBarClass# active" role="progressbar" aria-valuenow="#=totalTime#" aria-valuemin="0" aria-valuemax="#=maxDuration#" style="width: #=durationPercent#%">
				<span class="sr-only">#=durationPercent#% Complete</span>
			</div>
		</div>
		<span></span><span class="label label-warning total-duration #=spotId#">#= totalTime#</span>
		<span>/</span> <span data-sliceId="#=sliceId#" class="label label-danger max-duration"><strong>#= maxDuration#</strong></span>&emsp;
		<button class="btn btn-primary-outline disabled save" data-items='#= items#' data-spotId="#= spotId#"> <span class="icon icon-action-save"></span> @Localizer["Save"] </button>	
		<button class="btn btn-success-outline preview" data-items='#= items#' data-spotId="#= spotId#"> <span class="icon icon-play"></span>  @Localizer["Preview"] </button>			
		@*<button class="btn btn-success-outline disabled download" data-items='#= items#' data-spotId="#= spotId#"><span class="icon icon-action-download"></span>  @Localizer["Download"] </button>*@		
		@*<button class="btn btn-info-outline disabled send" data-spotId="#= spotId#"> <span class="icon icon-flash"></span>  @Localizer["Send"]</button>*@	
	</div>
</script>
<script id="progress-bar-template" type="text/x-kendo-template">
	<div class="progress-bar #=progressBarClass# active" role="progressbar" aria-valuenow="#=totalTime#" aria-valuemin="0" aria-valuemax="#=maxDuration#" style="width: #=durationPercent#%">
	<span class="sr-only">#=durationPercent#% Complete</span>
</div>
</script>

<script id="onAirDate-header-template" type="text/x-kendo-template">
		<span class="icon icon-calendar"></span> <span> @Localizer["Date"]:  #: kendo.toString(kendo.parseDate(date), "dd/MM/yyyy")#</span>
</script>

<script id="timeBand-header-template" type="text/x-kendo-template">
	<span class="icon icon-clock"></span>
	<span> @Localizer["Timeband"]:  #: value#</span>
</script>

<script id="channel-header-template" type="text/x-kendo-template">
	<span class="icon icon-clock"></span>
	<span> @Localizer["Channel"]:  #: value#</span>
</script>

<script id="order-btn-template" type="text/x-kendo-template">
	<div class="order-btn #=id#">
		#if(approve == true){#
		<button class="btn btn-sm btn-primary-outline order move-up" data-action="on-top"><span class="icon icon-align-top"></span></button>
		<button class="btn btn-sm btn-success-outline order move-up" data-action="move-up"><span class="icon icon-up"></span></button>
		<button class="btn btn-sm btn-danger-outline order move-down" data-action="move-down"><span class="icon icon-down"></span></button>
		#}#
	</div>
</script>

<script id="checkbox-template" type="text/x-kendo-template">
	<div class="checkbox custom-control custom-checkbox approveOnAirTootip">
		<label>
			#if(approve == true){#
			<input checked type="checkbox" data-spotId="#= spotId#" class="approveOnAir">
			<span class="custom-control-indicator"></span>
			#}else{#
			<input type="checkbox" data-spotId="#= spotId#" class="approveOnAir">
			<span class="custom-control-indicator"></span>	
			#}#
		</label>
	</div>
</script>
<script id="positionCost-template" type="text/x-kendo-template">
	<div class="checkbox custom-control custom-checkbox approveOnAirTootip">
		<label>
			#if(checked == true){#
			<input checked type="checkbox" class="positionCost">
			<span class="custom-control-indicator"></span>
			#}else{#
			<input type="checkbox" class="positionCost">
			<span class="custom-control-indicator"></span>
			#}#
		</label>
	</div>
</script>

<script id="type-template" type="text/x-kendo-template">
	# if(type == 0){#
	<div class="label label-warning spotDetail"><span class="icon icon-book"></span></div>
	#}else{#
	<div class="label label-default spotDetail"><span class="icon icon-video"></span></div>
	#}#
</script>
<script id="position-template" type="text/x-kendo-template">
	# if(index == 999 || index == null){#
	<span value="#=index#" class="label label-info positionOnAir #=id#"></span>
	#}else{#
	<span value="#=index#" class="label label-info positionOnAir #=id#">#=index#</span>
	#}#
</script>
<script id="positionRegister-template" type="text/x-kendo-template">
	# if(position == 99 || position == null){#
	<span value="#=position#">x</span>
	#}else{#
	<span value="#=position#">#=position#</span>
	#}#
</script>
<script id="spot-detail-tooltip-template" type="text/x-kendo-template">
	# if(bookingAssetType == 0){#
	<div>Type: <span class="label label-primary">Booking</span></div>
	<div>ContractCode: <span class="label label-info">#=contractCode#</span></div>
	#}else{#
	<div>Type: <span class="label label-info">Asset</span></div>
	#}#
</script>

<script id="bookingInfo-template" type="text/x-kendo-template">
	#if(type == 7){#
	<div class="text-warning">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	#if(type == 5){#
	<div class="text-danger">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	#if(type == 6){#
	<div class="text-primary">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	#if(type == 3){#
	<div class="">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	#if(type == 8){#
	<div class="text-info">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	#if(type == 2){#
	<div class="text-info">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}else{#
	<div class="">#=contractCode# - #=assetCode# (#=productName#) </div>
	#}#
	#}#
	#}#
	#}#
	#}#
	#}#
</script>
<script id="booking-type-template" type="text/x-kendo-template">
	#if(type == 7){#
	<div class="label label-warning">Tr&ensp;</div>
	#}else{#
	#if(type == 5){#
	<div class="label label-info">In&ensp;</div>
	#}else{#
	#if(type == 6){#
	<div class="label label-primary">Out</div>
	#}else{#
	#if(type == 3){#
	<div class="label label-default">No</div>
	#}else{#
	#if(type == 8){#
	<div class="label label-danger">Be</div>
	#}else{#
	#if(type == 2){#
	<div class="label label-warning">Re</div>
	#}else{#
		<div class="label label-info">-</div>
	#}#
	#}#
	#}#
	#}#
	#}#
	#}#
</script>
<ul id="context-menu">
	<li data-action="on-top">
		<span class="icon icon-align-top"></span> @Localizer["On top"]
	</li>
	<li data-action="move-up">
		<span class="icon icon-up"></span> @Localizer["Move up"]
	</li>
	<li data-action="move-down">
		<span class="icon icon-down"></span> @Localizer["Move down"]
	</li>
	<li data-action="on-bottom">
		<span class="icon icon-align-bottom"></span> @Localizer["On bottom"]
	</li>
</ul>

<script>

	SPOT_GRID_CHANGE = false;
	SPOT_GRID_RELOAD = true;

	require(["module/spot-approval"], function (spot_approval) {
		spot_approval.init({
			data: {
				fromDate: $("#InDate").val(),
				todate: $("#InDate").val(),
				channelId: $("#ChannelId").val(),
				timeBandId: $("#TimeBandId").val(),
				//timeBandSliceId: _this.timeBandSliceId(),
				TimePeriodType: @((int)SpotSearchTimePeriod.OneDay),
				InDate : $("#InDate").val(),
			},
			columns: [
				{
					field: "broadcastDate", title: "@Localizer["Onair date"]",
					template: function (dataItem) {
						return kendo.template($('#date-template').html())({ date: dataItem.broadcastDate });
					},
					groupHeaderTemplate: function (dataItem) {
						return kendo.template($('#onAirDate-header-template').html())({ date: dataItem.value });
					},
					width: "1px",

				},
				{
					field: "channelName",
					title: "@Localizer["Channel"]",
					width: "1px",
					groupHeaderTemplate: function (dataItem) {
						return kendo.template($('#channel-header-template').html())({ value: dataItem.value });
					},
				},
				{
					field: "timeBandDescription",
					title: "@Localizer["Timeband"]",
					width: "1px",
					groupHeaderTemplate: function (dataItem) {
						return kendo.template($('#timeBand-header-template').html())({ value: dataItem.value });
					},
				},
				{
					field: "timeBandSliceDescription",
					title: "@Localizer["Slice"]",
					width: "1px",
					groupHeaderTemplate: function (dataItem) {
						//		console.log(dataItem.items)
						var total = 0;
						var _uids = [];
						var spotId = "";
						var sliceId = "";
						var timeBandId = "";
						var maxDuration;
						$.each(dataItem.items, function (i, v) {
							if (v.approveOnAir) {
								total = total + v.assetBlockDuration;
							};
							_uids.push({ _uid: v.uid });
							spotId = v.spotId;
							sliceId = v.timeBandSliceId;
							timeBandId = v.timeBandId;
							maxDuration = v.maxDuration;
						});
						var durationPercent = 0;
						durationPercent = Math.floor(total / maxDuration * 100);
						var progressBarClass = "progress-bar-success";
						if (durationPercent > 70 && durationPercent < 80)
							progressBarClass = "progress-bar-info";
						else if (durationPercent > 80 && durationPercent < 90)
							progressBarClass = "progress-bar-warning";
						else if (durationPercent > 90)
							progressBarClass = "progress-bar-danger";
						//debugger;
						var itemsString = JSON.stringify(_uids);
						return kendo.template($('#slice-header-template').html())({
							totalTime: total,
							value: dataItem.value,
							items: itemsString,
							spotId: spotId,
							sliceId: sliceId,
							timeBandId: timeBandId,
							maxDuration: maxDuration,
							durationPercent: durationPercent,
							progressBarClass: progressBarClass,
						});
					},
				},
				{
					field: "assetCode", title: "@Localizer["Contract Code - Asset Code (Product)"]",
					template: function (dataItem) {
						return kendo.template($('#bookingInfo-template').html())({
							type: dataItem.bookingTypeId,
							contractCode: dataItem.contractCode,
							assetCode: dataItem.assetCode,
							productName: dataItem.productName
						});
					},
					width: "300px",
				},
				{
					field: "assetBlockDuration", title: "@Localizer["Asset Duration"]",width: "80px",
					},
				{
					field: "approveOnAir", title: "@Localizer["OnAir"]",
					template: function (dataItem) {
						return kendo.template($("#checkbox-template").html())({
							approve: dataItem.approveOnAir,
							spotId: dataItem.spotId
						})
					},
					width: "60px",
				},
				@*{
					field: "timeBandSliceName",
					title: "@Localizer["Slice"]",
				width: "80px",
				},*@
				@*{
					field: "approveOnAir", title: "@Localizer["Order"]",
					template: function (dataItem) {
						return kendo.template($("#order-btn-template").html())({id: dataItem.id, approve: dataItem.approveOnAir});
					},
					width: "100px",
				},*@
				{
					field: "positionCost", title: "@Localizer["Position Cost"]",
					template: function (dataItem) {
						return kendo.template($("#positionCost-template").html())({ checked: dataItem.positionCost })
					},
					width: "60px",
				},
				{
					field: "position",
					title: "@Localizer["Position Register"]",
					template: function (dataItem) {
						return kendo.template($("#positionRegister-template").html())({ position: dataItem.position })
					},
					width: "60px",
				},
				{
					field: "index",
					title: "@Localizer["Position OnAir"]",
					template: kendo.template($('#position-template').html()),
					width: "80px",
				},
				@*{
					field: "bookingTypeId", title: "@Localizer["Booking Type"]",
					template: function (dataItem) {
						return kendo.template($('#booking-type-template').html())({ type: dataItem.bookingTypeId });
					},
					width: "80px",
				},*@
				@*{
					field: "bookingAssetType", title: "@Localizer["Type"]",
					template: function (dataItem) {
						return kendo.template($('#type-template').html())({ type: dataItem.bookingAssetType });
					},
					width: "80px",
				},*@
				@*{
					field: "approveOnAir",
					title: "@Localizer["Approved"]",
					template: function (dataItem) {
						return kendo.template($('#approve-template').html())({ approve: dataItem.approveOnAir });
					},
					width: "80px",
				},*@
				{
					field: "", title: "@Localizer["Note"]",width: "300px",
				},
			],
		});
	});

</script>
