@using HD.TVAD.Web.Services
@using Microsoft.EntityFrameworkCore
@using HD.TVAD.ApplicationCore.Entities.Booking
@{
	Layout = null;
}
@model AnnexContractViewModel
@inject ICustomerViewService _customerViewService
@inject ISponsorProgramViewService _sponsorProgramViewService
@inject IAnnexContractViewService _annexContractViewService
@{
	var customerSelectItems = await _customerViewService.GetCustomerCodeAndNameListItemAsync();
	var sponorProgramSelectItems = await _sponsorProgramViewService.GetCodeAndNameSelectListItemAsync();
	var bookingTypeSelectItems = await _annexContractViewService.GetBookingTypeSelectListItemAsync();
	var sponsorTypeSelectItems = await _annexContractViewService.GetSponsorTypeSelectListItemAsync();
}

<form id="create-form" asp-area="Manager" asp-controller="AnnexContract" asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Create annex contract"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>


			<div class="form-group">
				<div class="col-md-4 control-label">
					<label asp-for="CustomerId"></label>
				</div>
				<div class="col-md-8">
					<select asp-for="CustomerId" class="form-control" asp-items="customerSelectItems"> </select>
					<span asp-validation-for="CustomerId" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-4 control-label">
					<label asp-for="Code"></label>
				</div>
				<div class="col-md-8">
					<input asp-for="Code" class="form-control" type="text" />
					<span asp-validation-for="Code" class="text-danger"></span>
				</div>
			</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="BookingTypeId"></label>
			</div>
			<div class="col-md-8">
				<select asp-for="BookingTypeId" class="form-control" type="number" asp-items="bookingTypeSelectItems"></select>
				<span asp-validation-for="BookingTypeId" class="text-danger"></span>
			</div>
		</div>
		<div class="sponsorProgram" style="display: none;">
			<div class="form-group">
				<div class="col-md-4 control-label">
					<label asp-for="SponsorProgramId"></label>
				</div>
				<div class="col-md-8">
					<select asp-for="SponsorProgramId" class="form-control" asp-items="sponorProgramSelectItems">
						<option value="">@Localizer["Select sponsor program"]</option>
					</select>
					<span asp-validation-for="SponsorProgramId" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group sponsorType">
				<div class="col-md-4 control-label">
					<label asp-for="SponsorTypeId"></label>
				</div>
				<div class="col-md-8">
					<select asp-for="SponsorTypeId" class="form-control" type="number" asp-items="sponsorTypeSelectItems">
						<option value="">@Localizer["Select sponsor type"]</option>
					</select>

					<span asp-validation-for="SponsorTypeId" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group annexContractType" style="display: none;">
				<div class="col-md-4 control-label">
					<label asp-for="AnnexContractTypeId"></label>
				</div>
				<div class="col-md-8">
					<select asp-for="AnnexContractTypeId" class="form-control" data-bind="options: AnnexContractTypeSelects,
								optionsText: 'name',
								optionsValue: 'id'"></select>
					<span asp-validation-for="AnnexContractTypeId" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="ReceiveDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="ReceiveDate" class="form-control" type="date" />
				<span asp-validation-for="ReceiveDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="SignDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="SignDate" class="form-control" type="date" />
				<span asp-validation-for="SignDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="ScheduleCampaign"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="ScheduleCampaign" class="form-control" type="text" />
				<span asp-validation-for="ScheduleCampaign" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Content"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Content" class="form-control" type="text" />
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
		</div>
		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary"><span class="icon icon-trash"></span> @Localizer["Create"]  </button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"] </button>
			</div>
		</div>

	</div>
</form>


<script>
	require(['module/manager', 'knockout'], function (manager, ko) {
		manager.common.submitForm.init({
		    formId: 'create-form',
		});
		$("#BookingTypeId").on('change', function () {
			var type = this.value;
			if (type == 5 || type == 6 || type == 7 || type == 8) {

				$("#SponsorProgramId").closest(".sponsorProgram").show(500);
			//	$("#AnnexContractTypeId").closest(".annexContractType").show(500);
				$("#SponsorTypeId").closest(".sponsorType").show();
				if (type == 7 || type == 8)
					$("#SponsorTypeId").closest(".sponsorType").hide(200);
				//	else
				//	$("#SponsorTypeId").closest(".sponsorType").hide(200);
			}
			else {
				$("#SponsorProgramId").closest(".sponsorProgram").hide(200);
			//	$("#AnnexContractTypeId").closest(".annexContractType").hide(200);
			}

			viewModel.AnnexContractTypeSelects([]);
			GetRightAnnexContractTypes(this.value);

		});



		var AnnexContractType = function (id, name) {
			this.id = id;
			this.name = name;
		};

		var viewModel = {
			AnnexContractTypeSelects: ko.observableArray(),

		}
		ko.cleanNode($(".annexContractType")[0]);
		ko.applyBindings(viewModel, $(".annexContractType")[0]);
		function GetRightAnnexContractTypes(bookingTypeId) {

			$.ajax({
				url: "Manager/AnnexContract/GetRightAnnexContractTypeByBookingTypeId",
				type: 'get',
				dataType: 'json',
				data: { bookingTypeId: bookingTypeId },
				success: function (response) {
					console.log(response);
					if (typeof response == 'object') {
						$.each(response.data, function (i, v) {
							viewModel.AnnexContractTypeSelects.push(new AnnexContractType(v.id, v.name));
						});
					}
				}
			});
		}
		// GetRightAnnexContractTypes($("#BookingTypeId").val()); // init
	});

</script>



