@{
	ViewBag.Title = Localizer["Customer"].Value;
//	Layout = "_Manager_Layout";
}
<div class="container-flex">
	<div class="flex flex-1">
		<div class="container-vertical-flex">
			<div class="flex flex-0">
				<div class="panel panel-flex panel-default">
					<div class="panel-heading">
						@Localizer["Search"]
					</div>
					<div class="panel-body">
						@Html.Partial("_SearchPanelBodyPartial")
					</div>
				</div>
			</div>
			<div class="flex flex-5">

				<div class="panel panel-flex panel-default">
					<div class="panel-heading">
						@Localizer["Menu"]
					</div>
					<div class="panel-body">
						@Html.Partial("_MenuCustomerPartial")
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-3">
		<div class="container-vertical-flex">
			<div class="flex flex-0">
				<div class="panel panel-flex panel-default">
					<div class="panel-heading">
						@Localizer["Detail"]
					</div>
					<div class="panel-body" id="detail-panel-body">
						@Html.Partial("Detail", new CustomerViewModel() { })
					</div>
				</div>
			</div>
			<div class="flex flex-3">
				@Html.Partial("_GridPartial")
			</div>
		</div>
	</div>
</div>