@{
    Layout = "_Layout";
}
@functions{
	async Task<bool> CheckPermissionAsync(UserPermissions permission)
	{
		return await AuthorizationService.AuthorizeAsync(User, null, new PermissionRequirement(permission));
	}
}
<link rel="stylesheet" type="text/css" href="~/css/components/show-hide-element.css" />
<div class="container-flex">
    <div class="flex flex-1 need-show-hide">
        <div class="panel panel-flex panel-default">
            <div class="panel-heading">
                <div class="sidebar-header">
                    <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                        <span class="sr-only">Toggle nav</span>
                    </button>
                    <a class="sidebar-brand img-responsive" href="">
                        <span class="icon icon-home sidebar-brand-icon"></span>
                    </a>
                    <a class="sidebar-brand img-responsive show-hide-element" title="@Localizer["Hide this panel"]">
                        <span class="icon icon-left-open sidebar-brand-icon"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
                    <form class="sidebar-form">
                        <input class="form-control" type="text" placeholder="@Localizer["Search..."]">
                        <button type="submit" class="btn-link">
                            <span class="icon icon-search"></span>
                        </button>
                    </form>
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header">@Localizer["Dashboards"]</li>
						<li>
							<a href="/Home">@Localizer["Overview"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.Other_ApprovePlaylist)">
							<a asp-area="Booking" asp-controller="Spot" asp-action="Approval">@Localizer["Spot Approval"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_Asset)">
							<a asp-area="MAM" asp-controller="Content" asp-action="Index">@Localizer["Content Management"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_NormalBooking)">
							<a asp-area="AnnexContract" asp-controller="NormalBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Booking.GetDisplayName())]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_BookingIn)">
							<a asp-area="AnnexContract" asp-controller="BookingIn" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_InProgram.GetDisplayName())]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_BookingOut)">
							<a asp-area="AnnexContract" asp-controller="BookingOut" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_OutProgram.GetDisplayName())]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData)">
							<a asp-area="AnnexContract" asp-controller="TrailerBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_Trailer.GetDisplayName())]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData)">
							<a asp-area="AnnexContract" asp-controller="BenefitBooking" asp-action="Index">@Localizer[(BookingTypeEnum.Contract_Sponsor_Benefit.GetDisplayName())]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_SpotBookingRetail)">
							<a asp-area="Manager" asp-controller="RetailContract" asp-action="Index">@Localizer[(BookingTypeEnum.Retail.GetDisplayName())]</a>
						</li>

						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData)" class="nav-header">@Localizer["More"]</li>

						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_Customer)">
							<a asp-area="Manager" asp-controller="Customer" asp-action="Index">@Localizer["Customer"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ImportData_SponsorProgram)">
							<a asp-area="Manager" asp-controller="SponsorProgram" asp-action="Index">@Localizer["Sponsor Program"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ManagerSystem)" class="nav-header">@Localizer["System"]</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ManagerSystem_SpotBlock)">
							<a asp-area="Manager" asp-controller="SpotBlock" asp-action="Index">@Localizer["Block"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ManagerSystem_Channel)">
							<a asp-area="Manager" asp-controller="Channel" asp-action="Index">@Localizer["Channel"]</a>
						</li>
						<li visible-when="await CheckPermissionAsync(UserPermissions.ManagerSystem_TimeBand)">
							<a asp-area="Manager" asp-controller="TimeBand" asp-action="Index">@Localizer["TimeBand"]</a>
						</li>

					</ul>
                    <hr class="visible-xs m-t">
                </div>
            </div>
        </div>
    </div>
    <img id="arrow" class="show-hide-element hiden" src="~/images/arrowright.png" title="@Localizer["Show Panel"]">
    <div class="flex flex-4">
        @RenderBody()
    </div>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    require(['module/show-hide-element'], function (SHE) {
        var path = location.pathname;
        var controller = path.split('/')[2];
        $("ul.nav.nav-pills.nav-stacked>li>a").each(function (i, v) {
            var href = $(v).attr("href");
            if (href.split('/')[2] === controller) {
                $(v).closest('li').addClass("active");
            }
        });
        $(".show-hide-element").click(function () {
            SHE.init({
                iconUrl: "/images/arrowright.png"
            });
        });
    });
</script>