@using HD.TVAD.ApplicationCore.Entities.ContractSchema
@{
	Layout = "_Layout";
	ViewBag.Title = Localizer["Create retail customer"].Value;
}
@model RetailCustomerViewModel
@{
	var typeId = (int)CustomerTypeEnum.Retail;
}
<div class="panel panel-flex panel-default">
	<div class="panel-heading">
		<div class="dashhead">
			<div class="dashhead-titles">
				<div class="dashhead-title">
					<h2>@ViewBag.Title</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">

		<div class="container-vertical-flex">
			<div class="flex flex-0">
				<div class="order-details__state js-shipping-state-container">
					<div class="order-details__progress">
						<div class="order-details__progress-bar">
							<div class="order-details__progress-bar-item is-active order-details__progress-bar-item_highlighted"></div>
							<div class="order-details__progress-bar-item  order-details__progress-bar-item_highlighted"></div>
							<div class="order-details__progress-bar-item  order-details__progress-bar-item_highlighted"></div>
							<div class="order-details__progress-bar-item  order-details__progress-bar-item_highlighted"></div>
						</div>

						<div class="order-details__progress-states">
							<div class="order-details__progress-state is-active is-current order-details__progress-state_highlighted">
								<div class="order-details__progress-state__name is-active">
									@Localizer["Create customer"]
								</div>
							</div>
							<div class="order-details__progress-state order-details__progress-state_highlighted">
								<div class="order-details__progress-state__name">
									@Localizer["Create annex contract"]
								</div>
							</div>
							<div class="order-details__progress-state order-details__progress-state_highlighted">
								<div class="order-details__progress-state__name">
									@Localizer["Select asset"]
								</div>
							</div>
							<div class="order-details__progress-state  order-details__progress-state_highlighted">
								<div class="order-details__progress-state__name ">
									@Localizer["Booking spot"]
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="flex flex-1">
				<div class="col-md-offset-3 col-md-6">
					<form id="create-form" asp-area="Manager" asp-controller="RetailCustomer" asp-action="CreateCustomer" method="post" enctype="multipart/form-data" class="form-horizontal">

						<input type="hidden" asp-for="TypeId" value="@typeId" />
						<div class="form-group">
							<div class="col-md-4 control-label">
								<label asp-for="Name"></label>
							</div>
							<div class="col-md-8">
								<input asp-for="Name" class="form-control" type="text" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4 control-label">
								<label asp-for="Address"></label>
							</div>
							<div class="col-md-8">
								<input asp-for="Address" class="form-control" type="text" />
								<span asp-validation-for="Address" class="text-danger"></span>
							</div>

						</div>
						<div class="form-group">
							<div class="text-center">
								<button id="submit" type="submit" value="" class="btn btn-primary-outline" onclick=""><span class="icon icon-plus"></span> @Localizer["Next"] </button>
								<button type="button" class="btn btn-default-outline" data-dismiss="modal" onclick="goBack()"><span class="icon icon-back"></span> @Localizer["Back"] </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
