@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using HDAdvertising.Datas.Security
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}

<head>
    <link href="~/css/account/login/account.css" rel="stylesheet" />
</head>

<h2>Đăng nhập hệ thống</h2>
<div class="form">
    <section>
        <form asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger" />
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label dx-label-align-right">
                        @Html.DisplayNameFor(m=>m.UserName)
                    </div>
                    <div class="dx-field-value account-login-dx-field-value">
                        @(Html.DevExtreme()
                            .TextBoxFor(m=>m.UserName)
                            .Placeholder("Nhập tài khoản")
                            .ShowClearButton(true))
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label dx-label-align-right">
                        @Html.DisplayNameFor(m=>m.Password)
                    </div>
                    <div class="dx-field-value account-login-dx-field-value">
                        @(Html.DevExtreme()
                            .TextBoxFor(m=>m.Password)
                            .Mode(TextBoxMode.Password)
                            .Placeholder("Nhập mật khẩu")
                            .ShowClearButton(true))
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label dx-label-align-right"></div>
                    <div class="dx-field-value">
                        <div>
                            @(Html.DevExtreme().Button()
                                .Text("Đăng nhập")
                                .Type(ButtonType.Normal)
                                .UseSubmitBehavior(true))
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
