@using HD.TVAD.Web.Services
@using Microsoft.EntityFrameworkCore
@using HD.TVAD.ApplicationCore.Entities.Booking
@{
	Layout = null;
}
@model AnnexContractViewModel
@inject ICustomerViewService _customerViewService
@inject ISponsorProgramViewService _sponsorProgramViewService
@inject IAnnexContractViewService _annexContractViewService
@inject IGetTypeService _getTypeService
@{
		var customerSelectItems = await _customerViewService.GetCustomerCodeAndNameListItemAsync();
		var sponorProgramSelectItems = await _sponsorProgramViewService.GetCodeAndNameSelectListItemAsync();
		var bookingTypeSelectItems = await _annexContractViewService.GetBookingTypeSelectListItemAsync();
		var sponsorTypeSelectItems = await _annexContractViewService.GetSponsorTypeSelectListItemAsync();
		var annexContractTypes = await _getTypeService.GetAnnexContractTypes().ToListAsync();
		var annexContractTypeSelectItems = annexContractTypes.Select(a => new SelectListItem() {
			Value = a.Id.ToString(),
			Text = a.Name
	});
}

<form id="create-form" asp-area="Manager" asp-controller="AnnexContract" asp-action="ChangeCustomer" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Change customer"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>
			<input type="hidden" asp-for="Id"/>
			<div class="form-group">
				<div class="col-md-4 control-label">
					<label asp-for="Code"></label>
				</div>
				<div class="col-md-8">
					<input asp-for="Code" class="form-control" type="text" readonly/>
					<span asp-validation-for="Code" class="text-danger"></span>
				</div>
			</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="CustomerId"></label>
			</div>
			<div class="col-md-8">
				<select asp-for="CustomerId" class="form-control" asp-items="customerSelectItems">
					<option value="">@Localizer["Select customer"]</option>
				</select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>
		</div>
		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary"><span class="icon icon-trash"></span> @Localizer["Change"]  </button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"] </button>
			</div>
		</div>

	</div>
</form>


<script>
	require(['module/manager', 'knockout'], function (manager, ko) {
		manager.common.submitForm.init({
			formId: 'create-form',
		});

		var AnnexContractType = function (id, name) {
			this.id = id;
			this.name = name;
		};

		var viewModel = {
			sponsorProgramId: ko.observable("@Model.SponsorProgramId"),
			annexContractTypeId: ko.observable(),
			AnnexContractTypeSelects: ko.observableArray(),

			onSponsorProgramSelectChange: function (e) {
				var _this = this;
				GetDefaultAnnexContractTypeOfSponsorProgram(_this.sponsorProgramId());
			},

		}
	//	ko.cleanNode($("#create-form")[0]);
	//	ko.applyBindings(viewModel, $("#create-form")[0]);


		function GetRightAnnexContractTypes(bookingTypeId) {

			$.ajax({
				url: "Manager/AnnexContract/GetRightAnnexContractTypeByBookingTypeId",
				type: 'get',
				dataType: 'json',
				data: { bookingTypeId: bookingTypeId },
				success: function (response) {
					console.log(response);
					if (typeof response == 'object') {
						$.each(response.Data, function (i, v) {
							viewModel.AnnexContractTypeSelects.push(new AnnexContractType(v.Id.toUpperCase(), v.Name));
						});
					}
				}
			});
		}
		function GetDefaultAnnexContractTypeOfSponsorProgram(sponsorProgramId) {

			$.ajax({
				url: "Manager/SponsorProgram/GetDefaultAnnexContractTypeOfSponsorProgram",
				type: 'get',
				dataType: 'json',
				data: { sponsorProgramId: sponsorProgramId },
				success: function (response) {
					console.log(response);
					if (typeof response == 'string') {
						var annexContractTypeId = response.toUpperCase();
						console.log(annexContractTypeId);
						viewModel.annexContractTypeId(annexContractTypeId);
					}
				}
			});
		}
	//	// GetRightAnnexContractTypes($("#BookingTypeId").val()); // init
	});

</script>



