@using HD.TVAD.Web.Services
@{
	Layout = null;
}
@model ChannelViewModel
@inject IChannelViewService _channelViewService
@{
	var channelSelectItems = await _channelViewService.GetSelectListItemAsync();
}

<form id="create-form" asp-area="Manager" asp-controller="Channel" asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Edit channel"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="ParentId"></label>
			</div>
			<div class="col-md-8">
				<select asp-for="ParentId" class="form-control" type="text" asp-items="channelSelectItems">
					<option value="">@Localizer["None"]</option>
				</select>
				<span asp-validation-for="ParentId" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Name"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Name" class="form-control" type="text"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Description"></label>
			</div>
			<div class="col-md-8">
				<textarea class="form-control" type="text" asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

		</div>

		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary" onclick=""><span class="icon icon-plus"></span> @Localizer["Save"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"]</button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'create-form',
        });
    });
</script>



