@{
	Layout = null;
}
@model AnnexContractAssetCreateViewModel

@inject IGetTypeService _getTypeService
@{
	var typeDetailSelectItems = (await _getTypeService.GetTypeDetailsByBookingTypeAsync((BookingTypeEnum)Model.BookingTypeId))
		.Select(c => new SelectListItem()
		{
			Value = c.Id.ToString(),
			Text = c.Name,
		}).ToList();
}

<style>
	.modal-dialog {
		width: 900px;
	}
</style>


@{
	var theme = ViewBag.Theme ?? "toolkit-inverse";
	var backgroundColor = "#fff";
	if (theme == "toolkit-inverse")
	{
		backgroundColor = "#252830";
	}
}
<style>
	.modal-content > form > .panel > .panel-body {
		background: @backgroundColor
	}
</style>
<form id="add-tape-form" asp-area="Manager" asp-controller="AnnexContractAsset" asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">

	<div class="panel panel-default panel-flex">
		<div class="panel-heading">
			<h4> @Localizer["Add asset"]</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<div class="panel panel-default">
					@Html.Partial("_AssetChoosePartial")
				</div>
			</div>
			<div class="col-md-6">
				<input type="hidden" asp-for="AnnexContractId" />
				<input type="hidden" asp-for="AssetId" />
				<div class="form-group">
					<div class="col-md-4 control-label">
						<label asp-for="AssetId"></label>
					</div>
					<div class="col-md-8">
						<input class="form-control" asp-for="AssetCodeDisplay" />
						<span asp-validation-for="AssetCodeDisplay" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4 control-label">
						<label asp-for="PriceTypeDetailId"></label>
					</div>
					<div class="col-md-8">
						<select class="form-control" asp-for="PriceTypeDetailId" asp-items="typeDetailSelectItems">
							<option value="">@Localizer["Choose..."]</option>
						</select>
						<span asp-validation-for="PriceTypeDetailId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4 control-label">
						<label asp-for="Content"></label>
					</div>
					<div class="col-md-8">
						<input class="form-control" asp-for="Content" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4 control-label">
						<label asp-for="Price"></label>
					</div>
					<div class="col-md-8">
						<input class="form-control" disabled="disabled" asp-for="Price" type="number" placeholder="" />
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button id="submit" type="submit" class="btn btn-primary-outline"><span class="icon icon-action-create"></span> @Localizer["Add"] </button>
			<button type="button" class="btn btn-default-outline" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"] </button>
		</div>
	</div>
</form>

<script>
	require(['module/manager'], function (manager) {
		manager.common.submitForm.init({
			formId: 'add-tape-form',
			responseCallback: function (response) { // on success..
				console.log(response);
				if (typeof response == 'object') {
					if (response.result == "OK") {
						$("#modal").modal("hide");
						notification.show(response.message);

						var grid = $("#grid-annexDetail").data('kendoGrid');
						if (grid) {
							if (response.id != "00000000-0000-0000-0000-000000000000")
								grid.options.settings.dataItemId = response.id;
							else
								if (response.data)
									grid.options.settings.dataItemId = response.data.Id;

							grid.dataSource.read();
						}
						var gridspotBooking = $("#grid-spotBooking").data('kendoGrid');
						if (gridspotBooking)
							gridspotBooking.dataSource.read();

					}
					else {
						alert(response.message);
					}
				}
				else {
					alert(response);
				}
			}
		});
	});

	$("#PriceTypeDetailId").on('change', function () {
		var type = this.value;
		console.log(type);
		if (type == "a4b1225e-ab34-43d1-8be9-d1feac327f4d") // from DB giá riêng
		{
			debugger;
			$("#Price").prop( "disabled", false );
		}
		else {
			$("#Price").prop("disabled", true);
		}
	});	

</script>

